{% extends 'base.html.twig' %}

{% block body %}
    <article>
        
        <div class="container">
        <header class="row my-4">
            <div class="col-4"></div>
            <div class="col-4 text-center"><h2>{{ annonce.titre }}</h2></div>
            {% if is_granted('ROLE_ADOPTANT') %}
                <div class="col-4 text-end"><button class="btn btn-success">Adopter un iench</button></div>
            {% endif %}
        </header>
                <div class="text-center">
                    <p>{{ annonce.description }}</p>
                </div>
                <div class="row">
                {% for chien in annonce.chiens  %}
                    {% include 'chien/_chien.html.twig' with { chien: chien } only %}
                {% endfor %}
            </div>
        </div>
        {% if is_granted('ROLE_ADOPTANT') %}
          <div class="text-center my-4"><button class="btn btn-success">Adopter un iench</button></div>
        {% endif %}
    </article>
{% endblock %}

