{% extends 'base.html.twig' %}


{% block body %}

{% block title %}Ajout d'un nouveau chien{% endblock %}
    <div class="container d-flex align-center justify-content-center">

        <div class=" d-flex align-items-center">

            {{ form_start(form) }}
            {{ form_rest(form) }}
            <button type="submit" class="btn btn-primary">Valider</button>
            {{ form_end(form) }}

        </div>

    </div>

{% endblock %}
