
    <div class="card col-md-5 my-card">
        <div class="card-body">
            <ul style="list-style-type: none">
                <li class="list-group-item">Expediteur : {{ message.expediteur }}</li>
                <li class="list-group-item">Destinataire : {{ message.destinataire }}</li>
                <li class="list-group-item">Date d'envoi : {{ message.dateEnvoi|date("d/m/y h:i:s") }}</li>
                <li class="list-group-item">{{ message.contenu }}</li>
            </ul>
        </div>
    </div>
