<div class="col-md-6 my-card" {% if message.destinataire == app.user %}style=" margin-left:auto; "{% endif %}>
    <div class="text-start">{{message.expediteur}}</div>
    <div
        style="
            min-height: 2em; 
            border-radius: 5px;
            {{ message.expediteur == app.user ? 'background-color: royalblue;' : 'background-color: seagreen;' }}
        ">
        <div class="p-2 text-light">{{message.contenu}}</div>
    </div>
    <div class="text-end text-muted">{{ message.dateEnvoi|format_datetime(locale='fr') }}</div>
</div>