{% extends 'base.html.twig' %}
{% block body %}

    {# Ici, nous partons du principe que nous avons une variable articles (un tableau contenant des objets Article, par exemple) #}
    <h1 class="text-center">
        My Doggo Academia
    </h1>
    <h2 class="text-center">
        Annonces en tête
    </h2>
    {# la syntaxe du for est encore différente du PHP, mais permet aussi beaucoup plus de souplesse (voir la doc pour les différentes utilisations possibles) #}
    {% for annonce in annonces %}
        {# on utilise une condition et un test ici, pour vérifier que notre article n'est pas vide #}
        {% if annonce is not empty %}

            {# On inclue un autre template en lui transmettant des paramètres #}
            {# Ici, on lui dit qu'il n'aura que les paramètres globaux (app) et la variable article #}
            {% include 'annonce/_annonce_home.html.twig' with { annonce: annonce } only %}

            {# Notez ici que les tags ont souvent un début et une fin, mais que l'on utilise plus d'accolades #}
        {% endif %}
    {% endfor %}
    <h2  class="text-center "> Liste des éleveurs</h2>{# Il n'est pas obligatoire d'indiquer le nom du block qu'on ferme, c'est simplement plus pratique pour s'y retrouver si le block contient beaucoup de choses #}
    <div class="container d-flex flex">
        <div class="col align-content-center">
            {% for annonceur in annonceurs %}
                {# on utilise une condition et un test ici, pour vérifier que notre article n'est pas vide #}
                {% if annonceur is not empty %}

                    {# On inclue un autre template en lui transmettant des paramètres #}
                    {# Ici, on lui dit qu'il n'aura que les paramètres globaux (app) et la variable article #}
                    {% include 'annonceur/_annonceur.html.twig' with { annonceur: annonceur } only %}

                    {# Notez ici que les tags ont souvent un début et une fin, mais que l'on utilise plus d'accolades #}
                {% endif %}
            {% endfor %}
        </div>

    </div>

{% endblock body %}
