{% extends 'base.html.twig' %}

{% block head %}

{% endblock %}
{% block body %}
    <h1 class="text-center error">Erreur système</h1>
    <br>
    <p class="text-center">
        Désolé, le système rencontre une erreur inopinée :(<br>
        Merci de patienter un instant ...
    </p>
{% endblock %}