{% extends 'base.html.twig' %}
{% block body %}
    <h1 class="text-center">
        My Doggo Academia
    </h1>
    <h2 class="text-center">
        Liste des annonceurs
    </h2>
    <div class="container-fluid d-flex flex">
        <div class="row mt-4 mb-4 align-content-center justify-content-center">
            {% for annonceur in annonceurs %}
                {# on utilise une condition et un test ici, pour vérifier que notre article n'est pas vide #}
                {% if annonceur is not empty %}
                    {% include 'annonceur/_annonceur.html.twig' with { annonceur: annonceur } only %}
                {% endif %}
            {% endfor %}
        </div>
    </div>
{% endblock %}